*{
  cursor: crosshair;
}

body{
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  margin: 0;
}

h1{
  font-family: monospace;
  font-size: 50px;
  font-weight: lighter;
  color: #F24405;
  text-align: right;
  margin-right: 5vw;
  margin-top: 18vh;
  position: sticky;
}

#container-app{
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
}
