h1{
  font-family: monospace;
  font-size: 50px;
  font-weight: lighter;
  color: #F24405;
  text-align: right;
  margin-right: 5vw;
  margin-top: 18vh;
  position: sticky;
}

#container-home{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

#div-form{
  border: #6DCCF2 5px double;
  border-radius: 25px;
  width: 40vw;
  height: 40vh;
  margin-top: 5vh;
  background-image: url(/src/assets/div_background.jpg);
  background-position: center;
  background-size: cover;
  mix-blend-mode: hue;
  overflow: hidden;

}

.form{
  display: grid;
  grid-template-columns: 0.9fr 0.5fr;
  overflow: hidden;
}

.form label{
  display: inline;
  color: #F24405;;
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
  margin-top: 3vh;
  padding-bottom: 5vh;
}

.form label span{
  margin-left: 2vw;
  background-color: aquamarine;
}

.form input{
  background-color: aquamarine;
  font-family: monospace;
  font-weight: bolder;
  font-size: 25px;
  color: #F24405;
  margin: auto;
  margin-right: 50px;
  width: 50px;
  cursor: crosshair;
}

#tags{
  background-color: aquamarine;
  font-family: monospace;
  font-weight: bolder;
  font-size: 25px;
  color: #F24405;
  }

::placeholder{
    color: hwb(285 0% 64%);
    font-weight: bolder;
}
