.nav{
  margin-top: -20px;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.5em;
  list-style-type: armenian;
  color: #2D7337;
  background-color: hsla(61, 75%, 79%);
  padding: 5vh;
}

a:link, :visited{
  text-decoration: none;
  color: #2D7337;
}

a:hover{
  scale: 150%;
  color: hsl(129, 44%, 21%);

}
