* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculadora {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding: 10px;
    gap: 10px
}

.calculadora input {
    height: 45px;
    text-align: end;
    font-size: 25px;
    padding: 5px;
}

button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(209, 209, 209);
    border-radius: 4px;
}

.botoes, .numeros, .operadores {
    display: flex;
}

.numeros {
    width: 150px;
    flex-wrap: wrap;
    gap: 5px
}

.operadores {
    flex-direction: column;
    gap: 5px;
}

.operadores button {
   height: 31px;
}

.limpar {
    color: red;
}