.div_meal{
  display: flex;
}


.image_food{
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  border: 5px solid #ff7300;
  border-radius: 4px;
  /* display: inline; */
}

.text{
  font-family: monospace;
  font-size: 25px;
  font-weight: lighter;
  color:#274065;
  max-width: 30vw;

}