.container_global{
  background-image: url(../assets/background_c.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 76vh;
  position: fixed;
}


.titulo{
  font-family: monospace;
  font-size: 45px;
  font-weight: lighter;
  color: #4A4873;
  text-align: left;
  margin-left: 2vw;
  margin-top: 10vh;
  padding-bottom: 12vh;
}

.titulo:hover{
  opacity: 0;
}

.container_about{
  display: flex;
  flex-direction: column;
  margin-top: -4vh;
}

.about_h3 {
  font-family: monospace;
  font-size: 25px;
  font-weight: lighter;
  color:#274065;
  text-align: right;
  margin-right: 5vw;
  margin-left: 50vw;
  margin-top:-28vh;
  text-decoration: dotted;
}

.div_login{
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}

.input_login{
  width: 6vw;
  height: 6vh;
  border-radius: 10px;
  border: none;
  mix-blend-mode: color-burn;
  font-size: 15px;
  font-family: monospace;
  margin-left: 2vw;
}
.input_login:hover{
  cursor: none;
}

.botao_login{
  background-color: #6CD9D9;
  border: none;
  font-size: 30px;
  font-family: monospace;
  border-radius: 7px;
  color: aliceblue;
  padding: 5px;
  max-width: fit-content;
  margin-left: 2vw;

}

.botao_login:hover{
  scale: 20%;
  background-color: #4B8CA6;
}

.msg{
  font-size: large;
  padding: 5px;
  font-size: x-large;
  color: white;
  display: flex;
  margin-left: 2vw;
  margin-top: 2vh;
}