#container-about{
  margin-top: -8vh;
}

#about-h1{
  font-family: monospace;
  font-size: 50px;
  font-weight: lighter;
  color: #F24405;
  text-align: left;
  margin-left: 5vw;
}

#about-h3{
  font-family: monospace;
  font-size: 25px;
  font-weight: lighter;
  color:#274065;
  text-align: right;
  margin-right: 5vw;
  margin-left: 20vw;
  margin-top: 13vh;
}

#about-h3 strong{
  font-family: monospace;
}