.container_global{
  background-image: url(../assets/img_ps.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 76vh;
  width: 100vw;
  position: fixed;
}

.cards_grid{
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

