.global_container{
  background-image: url(../assets/background_v2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: grid;
  grid-template-columns: 2;

}

.container{
  display: grid;
}

.h1_yersterday{
  font-family: monospace;
  font-size: 50px;
  font-weight: lighter;
  color: #F24405;
  text-align: left;
  margin-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  position: sticky;
}


.clock_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-column: 1;


}

.display{
  font-family: monospace;
  font-size: 3rem;
  color: cornflowerblue;
  mix-blend-mode: color-burn;
  justify-self: center;
  
}

.div_buttons{
  grid-row-start: 2;
  justify-self: center;
}

.btn_start{
  font-family: monospace;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: hsl(0, 100%, 50%);
  color: azure;
  margin: 10px 10px;
}

.btn_start:hover{
  background-color: hsl(0, 100%, 40%);
  scale: 105%;

}

.btn_stop{
  font-family: monospace;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: hsl(128, 100%, 54%);
  color: azure;
  margin: 10px 10px;
}

.btn_stop:hover{
  background-color: hsl(128, 100%, 44%);
  scale: 105%;

}

.btn_reset{
  font-family: monospace;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: hsl(325, 100%, 50%);
  color: azure;
  margin: 10px 10px;

}

.btn_reset:hover{
  background-color: hsl(325, 100%, 40%);
  scale: 105%;
}

.dog_container{
  background-color: #00ccff;
  height: 60vh;
  width: 70vh;
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  justify-self: right;
  align-self: center;
  border-radius: 10%;
}

.msg{
  display: flex;
  align-self: center;
  justify-self: right;
  font-size: 2.5em;
  font-family: monospace;
  color: #F24405;
  margin-top: -16vh;
}