/* body{
  background-image: url('../assets/space_pokeball.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  margin: 0;
} */

.global_container{
  background-image: url(../assets/background_v2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 76vh;
  width: 100vw;
  position: fixed;

}

.h1_yersterday{
  font-family: monospace;
  font-size: 50px;
  font-weight: lighter;
  color: #F24405;
  text-align: left;
  margin-left: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  position: sticky;
}


.clock_container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;


}

.display{
  font-family: monospace;
  font-size: 3rem;
  color: cornflowerblue;
  mix-blend-mode: color-burn;
  justify-self: center;
  
}

.div_buttons{
  grid-row-start: 2;
  justify-self: center;
}

.btn_start{
  font-family: monospace;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: hsl(0, 100%, 50%);
  color: azure;
  margin: 10px 10px;
}

.btn_start:hover{
  background-color: hsl(0, 100%, 40%);
  scale: 105%;

}

.btn_stop{
  font-family: monospace;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: hsl(128, 100%, 54%);
  color: azure;
  margin: 10px 10px;
}

.btn_stop:hover{
  background-color: hsl(128, 100%, 44%);
  scale: 105%;

}

.btn_reset{
  font-family: monospace;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: hsl(325, 100%, 50%);
  color: azure;
  margin: 10px 10px;

}

.btn_reset:hover{
  background-color: hsl(325, 100%, 40%);
  scale: 105%;


}